* {
    font-family: Arial, Verdana, sans-serif;
    color: #2f7907;
    text-align: center;
}

body {
    width: 90%;
	margin: 0 auto;
    background-image: url("https://th.bing.com/th/id/OIP.9gd0fSmGN0Ieqee8Uopo6QHaEu?w=285&h=182&c=7&r=0&o=5&pid=1.7");
}

h1 {
    font-family: 'FantasqueSansMonoRegular';
}

#content {
    overflow: auto;
}

#nav, #feature, #footer {
    margin: 1%;
}

.column1, .column2, .column3 {
    width: 31.3%;
    float: left;
    margin: 1%;
}

li {
    display: inline;
    padding: 0.5em;
}

#nav, #footer {
    background-color: #efefef;
    padding: 0.5em 0;
}

#feature, .article {
    height: 10em;
    margin-bottom: 1em;
    background-color: #efefef;}

#nav {
    background-color: rgb(196, 152, 244);
}

#feature {
    background-color: #8CC63E;
    background-image: url("./adam-gonzales-cfKwE7k9qqA-unsplash.jpg");
    background-size:contain;
    background-position: right;
    background-repeat:no-repeat;
}
 

.column1 {
    background-color: aqua;
}

.column2 {
    background-color: aquamarine;
}

.column3 {
    background-color: rgb(132, 82, 157);
    margin-right: 0%;
}

#footer {
    background-color: blueviolet;
}
